{% extends "base.html" %}
{% load static %}

{% block title_block %}
    <title>Manage Teams on field | Anuvad</title>
{%endblock%}

{% block meta_block %}
    <link rel="canonical" href="https://anivad.io/" />
    <meta name="description" content="Best way to manage teams and operations on field"/>
{%endblock%}

{% block css_block %}
    <!-- build:css /static/build/login.css -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login/main.css">
    <!-- endbuild -->
{%endblock%}

{% block content_block %}
    <section class="section-hero">
      <img class="hero-logo" src="/static/images/logo.png">
      <H1 class=hero-title>Anuvad</H1>
    </section>

    <div id="user-login-react">
    </div>
    
{% endblock %}

{% block script_block %}
    <script>
        window.pageProps = JSON.parse('{{ pageProps | safe }}');
        window.mountUserLogin = document.getElementById('user-login-react');
    </script>

    <script src="{% static 'js/build/Login.js' %}"></script>
{% endblock %}
