<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 100%;
        width: 70%;
        padding: 0;
        display: inline-block;
      }

      #details {
        height: 100%;
        width: 29%;
        display: inline-block;
        padding: 0;
        vertical-align: top;
        overflow: auto;
      }

      #details li {
        width: 100%;
        padding: 16px;
      }
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <ul id="details">
        {% for  location in data_locations %}
        <li onclick="callMap({{ forloop.counter0 }})">
            {{ forloop.counter0 }}: {{ location}}
        </li>
        {% endfor %}
    </ul>
    <div id="map"></div>
    <script>
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });
        var script = document.createElement('script');
        script.src = '{{data_url}}';
        document.getElementsByTagName('head')[0].appendChild(script);
        draw_markers({{draw_locations}})
        draw_path({{draw_locations}}, '#0000FF');
        
      }

      function callMap(index) {
            console.log('sample', filtered_locations[index])
      }


      window.draw_markers = function(results, new_marker) {
        var bounds = new google.maps.LatLngBounds();
        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        console.log("locations", results);

        for (var i = 0; i <results.length ; i++) {
            var data = results[i];
            if (!data) {
                continue
            }

            try{
                var latitude = data[0];
                var longitude = data[1];
                var latLng = new google.maps.LatLng(latitude,longitude);
                if (data[2]) {
                    var marker = new google.maps.Marker({
                      position: latLng,
                      icon: image,
                      map: map,
                      label: i.toString()
                    });
                }
                else {
                    var marker = new google.maps.Marker({
                      position: latLng,
                      map: map,
                      label: i.toString()
                    });
                }
                

                set_marker_click(marker, data);
                bounds.extend(latLng)
            } catch (err) {
                console.error("Failed", data);
            }
        }
        map.fitBounds(bounds);
      }

      function set_marker_click(marker, data) {
            marker.addListener('click', function(event) {
                console.log(data);
                console.log(marker.label);
                console.log(marker.position.lat());
                console.log(marker.position.lng());
            });
      }

      window.draw_path = function(results, color) {
        console.log(results);
        var locations = results.map(function (x) {
            return {
                'lat': x[0],
                'lng': x[1]
            };
        });
        console.log(locations);
        var flightPath = new google.maps.Polyline({
                  path: locations,
                  geodesic: true,
                  strokeColor: color,
                  strokeOpacity: 0.7,
                  strokeWeight: 4
                });

        flightPath.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb7dFem1IM37SVqR45acialLYe0IXcz98&callback=initMap">
    </script>
  </body>
</html>