{% extends "base.html" %}
{% load static %}

{% block title_block %}
    <title>Create account | Anuvad</title>
{%endblock%}

{% block meta_block %}
    <link rel="canonical" href="https://anivad.io/" />
    <meta name="description" content="Best way to manage teams and operations on field"/>
{%endblock%}

{% block css_block %}
    <!-- build:css /static/build/signup.css -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login/main.css">
    <!-- endbuild -->
{%endblock%}

{% block content_block %}
    <section class="site-header">
        <div class="site-header-container clearfix">
            <section class="site-handler">
                <img class="site-logo" src="/static/images/logo.png">
                <div class="site-name">Anuvad</div>
            </section>
        </div>
    </section>

    <div id="user-signup-react">
    </div>

    <section class="account-links">
        <a class="forgot" href="/web/login">Already have an account? Log In.</a>
        <a class="forgot" href="/web/password">Forgot password?</a>
    </section>
    
{% endblock %}

{% block script_block %}
    <script>
        window.pageProps = JSON.parse('{{ pageProps | safe }}');
        window.mountUserSignup = document.getElementById('user-signup-react');
    </script>

    <script src="{% static 'js/build/Signup.js' %}"></script>
{% endblock %}
