<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Anuvad</title>
        <style type="text/css">
            .items-table th {
                font-weight: 500;
                background: #f2f2f2;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <section class="content-holder">
            <section class="header clearfix">
                <section class="header-merchant">
                    <p class="header-order-id">Order Id: {{task.id}}</p>
                    <p class="header-merchant-name">Order for: {{task.content.merchant.name}}</p>
                    <p class="header-merchant-address">Address: {{task.content.merchant.address}}</p>
                    <p>  </p>
                    <p class="header-merchant-name">Procured by: {{task.content.merchant_seller.name}}</p>
                    <p class="header-merchant-address">Address: {{task.content.merchant_seller.address}}</p>
                </section>
                <p class="header-date">Date: {{task.created}}</p>
            </section>
            <table class="items-table">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in task.content.items %}
                    <tr>
                        <td>{{item.item.serial_number}}</td>
                        <td>{{item.item.name}}</td>
                        <td>{{item.item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.total}}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>{{task.content.amount}}</td>
                    </tr>
                </tbody>
            </table>
            <section class="footer">
                <p class="footer-created-by">Created by: {{task.created_by.name}}</p>
            </section>
        </section>
    </body>
</html>