{% extends "base.html" %}
{% load static %}

{% block title_block %}
    <title>Manage Teams on field | Anuvad</title>
{%endblock%}

{% block meta_block %}
    <link rel="canonical" href="https://anivad.io/" />
    <meta name="description" content="Best way to manage teams and operations on field"/>
{%endblock%}

{% block css_block %}
    <!-- build:css /static/build/teams.css -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/teams/main.css">
    <!-- endbuild -->
{%endblock%}

{% block content_block %}
    <section class="teams-header">
        <div class="teams-header-container clearfix">
            <section class="site-handler">
                <img class="site-logo" src="/static/images/logo.png">
                <div class="site-name">Anuvad</div>
            </section>
            <section class="profile-menu">
                <img src="/static/images/person_white.png">
            </section>
        </div>
    </section>

    <section class="user-teams-holder" id="user-teams-react"></section>
    
{% endblock %}

{% block script_block %}
    <script>
        window.pageProps = JSON.parse('{{ pageProps | safe }}');
        window.mountUserTeams = document.getElementById('user-teams-react');
    </script>

    <script src="{% static 'js/build/Teams.js' %}"></script>
{% endblock %}
