/*----------------Sidebar-------------------*/

.sidebar-holder {
    width: 20%;
    display: inline-block;
    background-color: #2D2D2D;
    height: 100vh;
}

.sidebar-holder .site-label {
    width: 100%;
    padding: 12px 16px;
    padding-bottom: 11px;
    background: #262626;
}

.site-label .site-logo {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.site-label .site-name {
    font-size: 28px;
    vertical-align: top;
    display: inline-block;
    color: white;
}

.sidebar-holder .nav-holder {
    width: 100%;
}

.nav-holder .nav-link {
    display: block;
    width: 100%;
}

.nav-holder .nav-link a {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 16px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
}

.nav-holder .nav-link a {
    color: rgba(255, 255, 255, 0.5);
}

.nav-holder .nav-link:hover a{
    background: #333333;
    color: #fff;
}

.nav-holder .nav-link a.active {
    color: #fff;
    background-color: #2D2D2D;

}


/*-----------------Content------------------*/
.content {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    background: rgba(252, 233, 234, 0.25);
}

.content .header {
    background-color: #CB202D;
    color: #fff;
    padding: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.header .title {
    font-size: 24px;
    display: inline-block;
    margin-right: 4px;
}

.header .header-team {
    padding: 0 8px;
    padding-right: 24px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.header-team .header-team-name {
    display: inline-block;
}

.header-team .header-team-icon {
    position: absolute;
    top: -4px;
}

.header-team:hover .header-team-name,
.header-team:hover .header-team-icon {
    color: white;
}

.header .profile-menu {
    position: absolute;
    right: 8px;
    top: 16px;
    cursor: pointer;
}

/*--------------Data List ----------------*/

.table-holder {
    width: 80%;
    text-align: left;
    margin: 16px auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}

.table-holder table {
    width: 100%;
    padding: 16px;
    border-collapse: collapse;
}

.table-holder table th {
    color: #9c27b0
}

.table-holder table tr {
    border-bottom: 1px solid black;
}

.table-holder table th {
    color: #9c27b0;
    height: 40px;
}

.table-holder table td {
    height: 40px;
    font-size: 14px;
}

.table-holder td,
.table-holder th {
    border-bottom: 1px solid #d8dae1;
    vertical-align: middle;
}