body {
    overflow: none;
}

.dashboard {
    width: 100%;
    height: 100%;
}

.dashboard .dashboard-holder {
    width: 100%;
    height: 100%;
} 

/*----------------Sidebar-------------------*/

.sidebar-holder {
    width: 20%;
    display: inline-block;
    background-color: #2D2D2D;
    height: 100vh;
}

.sidebar-holder .site-label {
    width: 100%;
    padding: 12px 16px;
    padding-bottom: 11px;
    background: #262626;
}

.site-label .site-logo {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.site-label .site-name {
    font-size: 28px;
    vertical-align: top;
    display: inline-block;
    color: white;
}

.sidebar-holder .nav-holder {
    width: 100%;
}

.nav-holder .nav-link {
    display: block;
    width: 100%;
}

.nav-holder .nav-link a {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 16px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
}

.nav-holder .nav-link a {
    color: rgba(255, 255, 255, 0.5);
}

.nav-holder .nav-link:hover a{
    background: #333333;
    color: #fff;
}

.nav-holder .nav-link a.active {
    color: #fff;
    background-color: #2D2D2D;

}


/*-----------------Content------------------*/
.content {
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background: #e6e6e6;
}

.content .content-holder {
    width: 100%;
    height: 100%;
    position: relative;
}

.content .header {
    width: 100%;
    background-color: #CB202D;
    color: #fff;
    padding: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    z-index: 10;
}

.header .title {
    font-size: 24px;
    display: inline-block;
    margin-right: 4px;
}

.header .header-team {
    padding: 0 8px;
    padding-right: 24px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.header-team .header-team-name {
    display: inline-block;
}

.header-team .header-team-icon {
    position: absolute;
    top: -4px;
}

.header-team:hover .header-team-name,
.header-team:hover .header-team-icon {
    color: white;
}

.header .profile-menu {
    position: absolute;
    right: 8px;
    top: 16px;
    cursor: pointer;
}

.header .create-link {
    margin: 32px 10%;
    margin-bottom: 24px;
    text-align: right;
}

.header .header-actions {
    float: right;
    margin-right: 48px;
}

.header-actions .header-action {
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
}

.header-action .header-action-icon {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    margin-right: 4px;
}

.header-action .header-action-name {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    vertical-align: top;
    margin-top: 4px;
}

.header-action:hover .header-action-name,
.header-action:hover .header-action-icon {
    color: white;
}


.create-link a {
    color: #fff;
    text-transform: uppercase;
    background-color: #338aed;
    padding: 12px 24px;
    border-radius: 4px;
}

/*--------------- Content Scroller----------*/
.content .content-scroller {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 56px;
}

/*--------------Data List ----------------*/

.list-card {
    width: 80%;
    max-width: 800px;
    margin: 16px auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}

.list-card .list-card-loader-holder {
    width: 100%;
    height: 200px;
    background: #f2f2f2;
    text-align: center;
    padding-top: 100px;
}

.list-card .list-card-content {
    width: 100%;
}

.list-card-content .list-table-holder {
    width: 100%;
    text-align: left;
}

.list-table-holder table {
    width: 100%;
    border-collapse: collapse;
}

.list-table-holder table th {
    font-weight: 500;
    background: #f2f2f2;
}

.list-table-holder table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list-table-holder table tr:hover {
    background: #f2f2f2;
}

.list-table-holder table td {
    font-size: 14px;
}

.list-table-holder td,
.list-table-holder th {
    padding: 12px;
}

.list-card-content .list-pager {
    width: 100%;
    text-align: right;
    padding: 12px;
    background: #f2f2f2;
    position: relative;
}

.list-pager .list-pager-action {
    position: absolute;
    top: 12px;
    left: 14px;
}

.list-pager-action .pager-action {
    font-size: 14px;
    color: #CB202D;
}

.pager-action .pager-action-icon {
    font-size: 20px;
    margin-right: 4px;
}

.pager-action .pager-action-name {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}

.list-pager .list-pager-content{
    font-size: 14px;
}

.list-pager-content .pager-counter {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}

.list-pager-content .pager-action {
    cursor: pointer;
}

.list-pager-content .pager-action.disable {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
}


/*--------------------Item Detail Holder----------------*/

.item-detail-holder {
    margin: 80px;
}
