body {
	background: #2D2D2D;
}

/*-------------Teams List ----------*/
.user-teams-holder {
	max-width: 800px;
	width: 60%;
	display: block;
	margin: 0 auto;
}

.section-user-teams {
	width: 100%;
	display: block;
	text-align: center;
}

.section-user-teams h1 {
	font-size: 44px;
	color: white;
	padding-top: 88px;
}

.section-user-teams .teams-loader-container {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 48px;
}

.teams-loader-container .teams-loader {
	width: 32px;
	height: 32px;
}

.section-user-teams .user-teams {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 16px;
	text-align: left;
}

.user-teams .user-team {
	width: 30%;
	height: 80px;
	vertical-align: bottom;
	padding: 16px 8px;
	cursor: pointer;
	border: 1px solid white;
	transition: 0.3s;
	margin-bottom: 8px;
	margin-right: 16px;
	background: white;
	border-radius: 2px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
}

.user-teams .user-team-action {
	width: 30%;
	height: 80px;
	vertical-align: bottom;
	padding: 16px 8px;
	cursor: pointer;
	border: 1px solid #CB202D;
	transition: 0.3s;
	margin-bottom: 8px;
	margin-right: 16px;
	background: #CB202D;
	border-radius: 2px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	color: white;
}

.user-team-action .user-team-name,
.user-team .user-team-name {
	text-transform: capitalize;
	font-size: 18px;
	line-height: 1.6em;
}

.user-team .user-team-role {
	text-transform: capitalize;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}

.user-teams .user-team:hover {
	border-color: #CB202D;
	color: #CB202D;
}

/*------------------Create Team---------------*/

.section-team-form-card {
    width: 300px;
    padding: 16px;
    margin: 40px auto;
	background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}

.detail-card {
    width: 40%;
    max-width: 400px;
    min-width: 360px;
    margin: 60px auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}

.detail-card .detail-card-loader-holder {
    width: 100%;
    height: 200px;
    background: #f2f2f2;
    text-align: center;
    padding-top: 100px;
}

.success-msg-holder {
    padding-top: 56px;
    text-align: center;
}

.success-msg-holder .success-msg {
    margin: 0 auto;
    display: inline-block;
    background-color: #26ca26;
    padding: 8px 16px;
    color: #fff;
    font-weight: 500;
}

.success-msg-holder .error-msg {
    background-color: red;
}